<!-- src/app/app.component.html -->
<nb-layout>
  <nb-layout-header fixed>
    <nb-actions>
      <nb-action icon="nb-home" routerLink="/">Home</nb-action>
      <nb-action icon="nb-plus" routerLink="/create-link">Create Link</nb-action>
      <nb-action icon="nb-bar-chart" routerLink="/analytics">Analytics</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
